body {
  margin: 0;
  padding: 0;
  background: #e3e3e3;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: #3d3d3d;
  font-size: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  color: #057eff;
  background-color: #f0f0f0; /* Light background color */
}

h1 {
  width: auto;
  position: relative;
  z-index: 2000;
  margin: 20px auto;
  padding: 8px 15px;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  font-weight: bold;
  pointer-events: none;
}

#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* Following rules overwrite the Leaflet default popup styles, regardless of browser orientation. */

/* Popup Styling */
.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.9);
  color: #3d3d3d;
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.leaflet-popup-content strong {
  color: #333;
  font-weight: bold;
}

.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.9);
}

.leaflet-popup-content p {
  margin: 0;
  line-height: 1.5;
}

.leaflet-popup-content img {
  width: 100%;
}

/* Small devices (portrait phones, 576px and below) */
@media (max-width: 576px) and (orientation: portrait) {
  h1 {
    display: none;
  }
}

/* Legend styling */

.legend {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  line-height: 18px;
  color: #333;
  font-size: 12px;
}

.legend-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: inherit;
}

.legend h4 {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: bold;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-symbol {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.legend-symbol-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  /* border-radius: 50%; */
}

.legend-symbol.rockfalls {
  background-color: #ff0000;
}

.legend-symbol.landslides {
  background-color: #004da8;
}

.legend-symbol.sites {
  background-color: #a100e0;
}

.legend-symbol-square.county {
  border: 2px solid #ffffe4;
  border-radius: 25%;
  background-color: hsla(60, 100%, 95%, 0.2);
}

.legend-symbol-square.d10 {
  border: 2.5px solid #ff0;
  border-radius: 25%;
  background-color: rgba(255, 255, 0, 0.2);
}

/* Rank Label Styling */
.rank-label {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff; 
  text-align: center;
  pointer-events: none;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

/* Adjust the label positioning to match map elements */
.rank-label span {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
}

/* Responsive Adjustment for Smaller Screens */
@media (max-width: 576px) {
  .rank-label {
      font-size: 10px;
      padding: 2px 5px;
      border-radius: 4px;
  }
}
